.BuildControls{
    width: 20%;
    background-color: rgb(228, 121, 135);
    flex-flow: column;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    padding: 10px 0px;
    border-radius: 10% 10% 10% 10%;
}

.BuildControls p{
    align-self:center;
    display: flex;
    justify-content: center;
    font: inherit;
    border: 1px solid rgb(97, 34, 34);
    width: 40%;
    border-radius: 18px;
}