.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    text-align: center;
    font: bold;
    font-size: 1.2rem;
    overflow: scroll;
    overflow-y: overlay;
    overflow-x: overlay;
}


@media (min-width: 100px) and (min-height: 80px){
    .Burger{
        width: 350px;
        height: 300px;
    }
}